* {
  margin: 0 auto;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  background-color: lightgrey;
}

.top {
  background-color: rgb(88, 99, 177);
  width: 850px;
  height: 250px;
  position: relative;
  top: 10%;
}

#info {
  color: white;
  position: relative;
  top: 60%;
  left: 20%;
}

#profilePic {
  border: 2px solid black;
  height: 150px;
  width: 150px;
  top: 140px;
  left: 10px;
  position: absolute;
  background-color: rgb(88, 99, 177);
}

#derpFace {
  height: 150px;
  width: 150px;
  position: absolute;
  z-index: 1;
  border: 2px solid black;
}

li {
  display: inline;
}

.topButtons {
  position: absolute;
  top: 215px;
  left: 520px;
}
.rightButtons {
  margin: 0;
  /* change margin */
  /* change height */
}

#like {
  border-radius: 7%;
  border-width: 0.75px;
  height: 25px;
  vertical-align: top;
  border: 2px solid black;
  /* edit the border radius, not border: solid */
}

#like {
  margin-right: 20px;
}

#timeline {
  border-bottom: 3px solid blue;
  margin-right: 25px;
}

.navTabs {
  background-color: white;
  width: 850px;
  height: 50px;
  position: relative;
}

#tabs {
  padding: 20px;
  top: -5px;
  left: 150px;
  position: absolute;
}

.columns {
  position: relative;
  margin: 0 auto;
  width: 850px;
  height: 700px;
}

.column1 {
  width: 328px;
  margin: 5px;
  position: relative;
  background-color: white;
  height: 100px;
  border: 1px solid gray;
  float: left;
  left: -5px;
}

.column2 {
  width: 512px;
  height: 480px;
  margin: 5px;
  background-color: rgb(88, 99, 177);
  position: relative;
  border: 1px solid gray;
  float: right;
  top: -112px;
  left: 5px;
}

.column1 .line1 {
  border-top: 1px solid gray;
}

.column1 .line2 {
  border-bottom: 1px solid gray;
}

.column2 .post {
  background-color: white;
  border: 1px solid gray;
  height: 50px;
}
